body {
    padding: 10px 50px;
    background-color: brown;
}

.formdesign {
    font-size: 20px;

}

.formdesign input {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid rgb(190, 141, 17);
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;
}

.formerror {
    color: rgb(240, 238, 238);
}

.but {
    border-radius: 9px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin: 22px 20px;
    background-color: bisque;
}
.css2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}